[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
[submodule "bundle/pathogen"]
	path = bundle/pathogen
	url = git@github.com:tpope/vim-pathogen.git
[submodule "bundle/vdebug"]
	path = bundle/vdebug
	url = git@github.com:joonty/vdebug.git
[submodule "bundle/plugin"]
	path = bundle/plugin
	url = git@github.com:garyaj/vim-dbgpclient.git
[submodule "bundle/vim-dbgpclient"]
	path = bundle/vim-dbgpclient
	url = git@github.com:garyaj/vim-dbgpclient.git
